*.iml
*.xml
*.pyc
.DS_Store
.idea/copilot/chatSessions/xd.lck
.idea/copilot/chatSessions/blobs/version
.idea/copilot/chatSessions/00000000000.xd
models/XGB_best_model_EV6.json
models/XGB_best_model_GV60.json
models/XGB_best_model_Ioniq5.json
models/XGB_best_model_Ioniq6.json
models/XGB_best_model_KonaEV.json
models/XGB_best_model_NiroEV.json
models/XGB_Only_best_model_EV6.json
models/XGB_Only_best_model_GV60.json
models/XGB_Only_best_model_Ioniq5.json
models/XGB_Only_best_model_Ioniq6.json
models/XGB_Only_best_model_KonaEV.json
models/XGB_Only_best_model_NiroEV.json
models/XGB_Only_scaler_EV6.pkl
models/XGB_Only_scaler_GV60.pkl
models/XGB_Only_scaler_Ioniq5.pkl
models/XGB_Only_scaler_Ioniq6.pkl
models/XGB_Only_scaler_KonaEV.pkl
models/XGB_Only_scaler_NiroEV.pkl
models/XGB_scaler_EV6.pkl
models/XGB_scaler_GV60.pkl
models/XGB_scaler_Ioniq5.pkl
models/XGB_scaler_Ioniq6.pkl
models/XGB_scaler_KonaEV.pkl
models/XGB_scaler_NiroEV.pkl
